<form action="/payment/results">

  <label for="users_apr">APR</label>
  <input id="users_apr" type="text" name="apr" placeholder="E.g. 5.42"></input>

  <label for="users_years">Number of years</label>
  <input id="users_years" type="text" name="years" placeholder="How many years to repay?"></input>

  <label for="users_principal">Principal</label>
  <input id="users_principal" type="text" name="principal" placeholder="How much principal?"></input>

  <button>Calculate monthly payment</button>

</form>
